ul>li {
	display:block;
	margin-right: 10px;
}
ul{
	list-style-type: none;
}

.totalCounter{
	margin-top: 15px;
	margin-bottom: 15px;
}

.setCenter {
	text-align: center;
}

.listAlign {

	margin-right: 15px;
}

.setListHead {
font-weight: bold;
	text-align: center;
}

.setLeft {
	text-align: left;
}

.setActive{
	color: #14820e;
	font-weight: bold;
}

.setIncompatible{
	color: #a50000;
	font-weight: bold;
}

body {
	font-size: 14px;
}

.talentList{
    text-align: center;
}

.mainBg{
	background-image: url(../imgs/mainbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.columBg{
	background-color: #9dacb2;
margin-left: 5px;
margin-right: 5px;

}

#resetAll{
	font-size: large;
}
.setBold{
	font-weight: bold;
}
.padNull{
padding-left: 0;
padding-right: 0;
}

.marginTopBot{
	margin-top: 15px;
	margin-bottom: 15;
}

