ul>li {
	display:block;
	margin-right: 10px;
}
ul{
	list-style-type: none;
}

.totalCounter{
	margin-top: 15px;
	margin-bottom: 15px;
}

.setCenter {
	text-align: center;
}

.listAlign {

	margin-right: 15px;
}

.setListHead {
font-weight: bold;
	text-align: center;
}

.setLeft {
	text-align: left;
}

.setActive{
	color: #14820e;
	font-weight: bold;
}

.setIncompatible{
	color: #a50000;
	font-weight: bold;
}

body {
	font-size: 14px;
	color: #E0E0E0;
}

.talentList{
    text-align: center;
}

.mainBg{
	background-image: url(../imgs/mainbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.columBg{
	background-color: rgba(3, 3, 3, 0.65);
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

#resetAll{
	font-size: large;
}
.setBold{
	font-weight: bold;
}
.padNull{
padding-left: 0;
padding-right: 0;
}

.marginTopBot{
	margin-top: 15px;
	margin-bottom: 15px;
}

.setLeft {
	text-align: left;
}
.setRight {
	text-align: right;
}
.tooltip-inner {
    white-space:pre-wrap;
}

.container {
	background-color: rgba(3, 3, 3, 0.6);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 980px;
	height: 100%;
}

button {
	background-color: #202020;
	border-color: #606060;
	border-radius: 5px;
}

button:focus {
	outline: none;
}

.tooltip-inner {
	min-width: 300px;
}